-# iterate all @images given by / route, creating a hidden
  image for each img. They will be progragmatically
  hidden/displayed via JS.
-@images.each do |img|
  %img{:src => img, :class => :hidden}
