%html
  %head
    %title TOTVS Super Simple Status Slides
    %meta{'charset' => 'utf-8'}/
    %meta{'name' => 'description', 'content' => ''}/
    %meta{'name' => 'author', 'content' => 'An super-simple image slideshow.'}/
    %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}/
    %link(rel="stylesheet" href="stylesheets/main.css")
    %script{:type => "text/javascript", :src => "javascripts/main.js"}
  %body
    = yield
