%html
  %head
    %title Simple Slideshow Displayer
    %meta{'charset' => 'utf-8'}/
    %meta{'name' => 'description', 'content' => 'A damn simple image slideshow displayer.'}/
    %meta{'name' => 'author', 'content' => 'Carlos Alexandro Becker'}/
    %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}/
    %link(rel="stylesheet" href="stylesheets/main.css")
    %script{:type => "text/javascript", :src => "javascripts/main.js"}
  %body
    = yield
